apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
images:
  - name: llmctl-studio-frontend
    newName: node
    newTag: 22-alpine
  - name: llmctl-chromadb-mcp
    newName: 10.107.62.134:80/llmctl/llmctl-chromadb-mcp
    newTag: 0.0.1
patches:
  - target:
      kind: ConfigMap
      name: llmctl-studio-config
      namespace: llmctl
    patch: |-
      - op: replace
        path: /data/LLMCTL_NODE_EXECUTOR_K8S_IMAGE
        value: 10.107.62.134:80/llmctl/llmctl-executor:0.0.1@sha256:a8e1d8acf00f197b5cea491a574a4a97bd57fc8f7fa9058588b6a80a3b843a69
  - path: studio-live-code-patch.yaml
    target:
      kind: Deployment
      name: llmctl-studio-backend
      namespace: llmctl
  - path: studio-frontend-live-code-patch.yaml
    target:
      kind: Deployment
      name: llmctl-studio-frontend
      namespace: llmctl
  - path: mcp-live-code-patch.yaml
    target:
      kind: Deployment
      name: llmctl-mcp
      namespace: llmctl
  - path: celery-worker-live-code-patch.yaml
    target:
      kind: Deployment
      name: llmctl-celery-worker
      namespace: llmctl
  - path: celery-beat-live-code-patch.yaml
    target:
      kind: Deployment
      name: llmctl-celery-beat
      namespace: llmctl
  - path: node-executor-live-code-config-patch.yaml
    target:
      kind: ConfigMap
      name: llmctl-studio-config
      namespace: llmctl
