apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../kubernetes
images:
  - name: llmctl-studio
    newName: __HARBOR_REGISTRY__/__HARBOR_PROJECT__/llmctl-studio
    newTag: __HARBOR_TAG__
  - name: llmctl-studio-frontend
    newName: __HARBOR_REGISTRY__/__HARBOR_PROJECT__/llmctl-studio-frontend
    newTag: __HARBOR_TAG__
  - name: llmctl-mcp
    newName: __HARBOR_REGISTRY__/__HARBOR_PROJECT__/llmctl-mcp
    newTag: __HARBOR_TAG__
  - name: llmctl-executor
    newName: __HARBOR_REGISTRY__/__HARBOR_PROJECT__/llmctl-executor
    newTag: __HARBOR_TAG__
patches:
  - target:
      kind: ConfigMap
      name: llmctl-studio-config
      namespace: llmctl
    patch: |-
      - op: replace
        path: /data/LLMCTL_NODE_EXECUTOR_K8S_IMAGE
        value: __HARBOR_REGISTRY__/__HARBOR_PROJECT__/llmctl-executor:__HARBOR_TAG__
