apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../kubernetes/llmctl-studio/overlays/dev
patches:
  - path: studio-live-code-patch.yaml
    target:
      kind: Deployment
      name: llmctl-studio-backend
      namespace: llmctl
  - path: studio-frontend-live-code-patch.yaml
    target:
      kind: Deployment
      name: llmctl-studio-frontend
      namespace: llmctl
  - path: mcp-live-code-patch.yaml
    target:
      kind: Deployment
      name: llmctl-mcp
      namespace: llmctl
  - path: celery-worker-live-code-patch.yaml
    target:
      kind: Deployment
      name: llmctl-celery-worker
      namespace: llmctl
  - path: celery-beat-live-code-patch.yaml
    target:
      kind: Deployment
      name: llmctl-celery-beat
      namespace: llmctl
  - path: node-executor-live-code-config-patch.yaml
    target:
      kind: ConfigMap
      name: llmctl-studio-config
      namespace: llmctl
