apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../kubernetes
patches:
  - path: studio-live-code-patch.yaml
    target:
      kind: Deployment
      name: llmctl-studio-backend
      namespace: llmctl
